[general]
consoleLogging = on
logging = on
version = 1.04

[data]
delimCount = 5

[fields]
field0 = 'SITE_ID'
field1 = 'ALARM_START'
field2 = 'ALARM_END'
field3 = 'ALARM_ID'
field4 = 'ALARM_DESC'
field5 = 'CATEGORY_DESC'
field6 = 'RESPONSE TIME'
field7 = 'MONTH_NAME'
field8 = 'DATE'
field9 = 'DoW'
field10 = 'HoD'
field11 = 'TIME'

[ftp]
url =
username =
password =

